rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Regla para Contactos:
    // - Cualquiera puede crear (enviar el formulario).
    // - Solo los administradores autenticados pueden leerlos.
    match /contactos/{contactId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }

    // Regla para Publicaciones:
    // - Cualquiera puede leerlas.
    // - Se permite la escritura porque las funciones que la realizan (Server Actions)
    //   ya están protegidas por el login de administrador en la propia aplicación.
    match /publicaciones/{publicacionId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
